In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Experimental information

*  xkappa biotin spots: these spots are coated with human kappa light chain conjugated to biotin, so that when the streptavidin-HRP is added there is strong signal independent of the serum content.  **We should not expect the fiducial signal to weaken with serial dilution.**
*  anti-His tag spots: All of the recombinant proteins that are used to coat the plates have hexa-His tags cloned into them, and the coat protein in these spots is anti-His. In this experiment, all of the recombinant antigens were spotted here on the anti-His coated spot, then serum was added so that the spot is representative of a polyclonal response. There was more cross-reactivity than expected and **this control will not be used in the future covid plates.**

# Read identity of wells and antigen spots

In [10]:
plateinfo_path=r'/Volumes/GoogleDrive/My Drive/ELISAarrayReader/images_scienion/Plates_given_to_manu/2020-01-15_plate4_AEP_Feb3_6mousesera/PlateInfo.csv'
antigenOD_path=r'/Volumes/GoogleDrive/My Drive/ELISAarrayReader/images_scienion/Plates_given_to_manu/2020-01-15_plate4_AEP_Feb3_6mousesera/20200327_analyzedPlate/ODs_2020_327_258.xlsx'

In [11]:
plateinfo=pd.read_csv(plateinfo_path)
antigens=pd.read_excel(antigenOD_path, sheet_name='antigens')

In [12]:
plateinfo

   Well     Sera ID              Type  Dilution
0    A1     Mouse 1        Diagnostic      1:50
1    A2     Mouse 1        Diagnostic      1:50
2    A3     Mouse 2        Diagnostic      1:50
3    A4     Mouse 2        Diagnostic      1:50
4    A5     Mouse 3        Diagnostic      1:50
..  ...         ...               ...       ...
91   H8  MAb-biotin  control/standard   0.41 nM
92   H9  MAb-biotin  control/standard  0.136 nM
93  H10  MAb-biotin  control/standard  0.045 nM
94  H11  MAb-biotin  control/standard  0.015 nM
95  H12         NaN               NaN       NaN

[96 rows x 4 columns]

In [13]:
antigens

   Unnamed: 0             0      1      2      3       4      5      6     7
0           0           NaN    114    100   KZ52   c13C6   c2G4   c4G7   NaN
1           1           NaN    114    100   KZ52   c13C6   c2G4   c4G7   NaN
2           2  anti-HIS tag  15731  15742  15750   15878  15946  15960  Q411
3           3  anti-HIS tag  15731  15742  15750   15878  15946  15960  Q411
4           4  anti-HIS tag  15974  16061  FVM04  VIC122   Q206   Q314   NaN
5           5           NaN  15974  16061  FVM04  VIC122   Q206   Q314   NaN

# Read ODs of all wells in a dictionary list

## Read data

In [123]:
row_label=['A','B','C','D','E','F','G','H']
col_label=[str(idx) for idx in np.arange(12)+1]
antigenODs={} # Dictionary of dataframes, key=well-string, value=dataframe of ODs.
antigenODmat=np.empty((8,12,6,8)) # 96 wells, 6 antigen rows, 8 antigen columns

In [124]:
# Read all wells into dictionary and into a 4D numpy array.
for r in np.arange(8):
    for c in np.arange(12):
        well_key=row_label[r]+col_label[c]
        antigenODs[well_key]=pd.read_excel(antigenOD_path, sheet_name=well_key)
        thiswellOD=antigenODs[well_key].to_numpy()[:,1:] # First column is simply the index. to_numpy returns 6x9 array.
        antigenODmat[r,c,:,:]=thiswellOD

## how to display dataframes, dictionary, and array.

#### Dictionary of dataframes

In [97]:
antigenODs['A1']

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,1.486904,NaN,1.880549,2.586053,1.280975,2.657491,1.489525,1.558359
1,1,1.460434,1.854336,2.275183,2.749347,1.434695,2.050088,1.693654,3.028545
2,2,3.589437,1.605085,2.588599,1.269079,NaN,1.277861,1.825869,1.661010
3,3,3.342151,1.813206,2.739092,1.274290,2.603671,NaN,2.312024,1.602642
4,4,3.431318,2.242810,3.271126,2.110363,2.439324,2.124064,NaN,4.615932
5,5,1.463728,2.171929,3.203978,2.053754,2.369633,2.015484,1.320535,1.402100

In [100]:
antigenODs['A4']

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,NaN,1.345141,2.997746,NaN,1.298738,NaN,1.234147,1.612831
1,1,1.445509,NaN,2.966517,1.261650,NaN,NaN,NaN,3.557503
2,2,1.878842,1.283533,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1.930243,NaN,1.161575,NaN,NaN,NaN,NaN,NaN
4,4,1.747058,NaN,NaN,NaN,1.175276,NaN,NaN,NaN
5,5,1.447847,NaN,NaN,1.237907,NaN,NaN,NaN,1.405774

#### Array

In [98]:
print(antigenODmat[0,0])

[[1.48690358        nan 1.88054858 2.58605292 1.28097541 2.65749052
  1.4895249  1.55835905]
 [1.46043415 1.85433613 2.27518306 2.74934729 1.43469453 2.05008816
  1.69365441 3.02854479]
 [3.58943717 1.60508459 2.58859898 1.26907949        nan 1.27786073
  1.82586891 1.66100972]
 [3.3421515  1.81320625 2.73909223 1.27429019 2.60367051        nan
  2.31202412 1.60264153]
 [3.43131823 2.24281023 3.27112586 2.11036309 2.43932369 2.12406351
         nan 4.61593211]
 [1.46372823 2.1719292  3.20397848 2.05375365 2.36963313 2.01548414
  1.32053514 1.4020999 ]]

In [99]:
print(antigenODmat[0,3])

[[       nan 1.3451414  2.99774562        nan 1.29873839        nan
  1.23414691 1.61283121]
 [1.44550936        nan 2.96651674 1.26165007        nan        nan
         nan 3.55750328]
 [1.87884234 1.28353302        nan        nan        nan        nan
         nan        nan]
 [1.93024336        nan 1.16157532        nan        nan        nan
         nan        nan]
 [1.74705778        nan        nan        nan 1.1752757         nan
         nan        nan]
 [1.44784659        nan        nan 1.23790682        nan        nan
         nan 1.40577401]]

In [115]:
platedict=plateinfo.to_dict()

In [121]:
platedict['Dilution']

{0: '1:50',
 1: '1:50',
 2: '1:50',
 3: '1:50',
 4: '1:50',
 5: '1:50',
 6: '1:50',
 7: '1:50',
 8: '1:50',
 9: '1:50',
 10: '1:50',
 11: '1:50',
 12: '1:250',
 13: '1:250',
 14: '1:250',
 15: '1:250',
 16: '1:250',
 17: '1:250',
 18: '1:250',
 19: '1:250',
 20: '1:250',
 21: '1:250',
 22: '1:250',
 23: '1:250',
 24: '1:1250',
 25: '1:1250',
 26: '1:1250',
 27: '1:1250',
 28: '1:1250',
 29: '1:1250',
 30: '1:1250',
 31: '1:1250',
 32: '1:1250',
 33: '1:1250',
 34: '1:1250',
 35: '1:1250',
 36: '1:6250',
 37: '1:6250',
 38: '1:6250',
 39: '1:6250',
 40: '1:6250',
 41: '1:6250',
 42: '1:6250',
 43: '1:6250',
 44: '1:6250',
 45: '1:6250',
 46: '1:6250',
 47: '1:6250',
 48: '1:31250',
 49: '1:31250',
 50: '1:31250',
 51: '1:31250',
 52: '1:31250',
 53: '1:31250',
 54: '1:31250',
 55: '1:31250',
 56: '1:31250',
 57: '1:31250',
 58: '1:31250',
 59: '1:31250',
 60: '1:156250',
 61: '1:156250',
 62: '1:156250',
 63: '1:156250',
 64: '1:156250',
 65: '1:156250',
 66: '1:156250',
 67: '1:156250',
 68: '1:156250',
 69: '1:156250',
 70: '1:156250',
 71: '1:156250',
 72: '1:781250',
 73: '1:781250',
 74: '1:781250',
 75: '1:781250',
 76: '1:781250',
 77: '1:781250',
 78: '1:781250',
 79: '1:781250',
 80: '1:781250',
 81: '1:781250',
 82: '1:781250',
 83: '1:781250',
 84: nan,
 85: '300 nM',
 86: '100 nM',
 87: '33.3 nM',
 88: '11.1 nM',
 89: '3.7 nM',
 90: '1.23 nM',
 91: '0.41 nM',
 92: '0.136 nM',
 93: '0.045 nM',
 94: '0.015 nM',
 95: nan}

# Control wells.

In [104]:
antigenODs['H2']

   Unnamed: 0         0         1         2         3   4   5   6         7
0           0  1.453897  1.222667  1.321150       NaN NaN NaN NaN  1.470639
1           1  1.472402       NaN       NaN  1.216981 NaN NaN NaN       NaN
2           2  1.633974  1.192537       NaN       NaN NaN NaN NaN       NaN
3           3       NaN       NaN       NaN       NaN NaN NaN NaN       NaN
4           4  1.888701       NaN  1.600041       NaN NaN NaN NaN       NaN
5           5  1.423970       NaN  1.483650       NaN NaN NaN NaN  1.368870

In [113]:
print(plateinfo.loc[plateinfo['Well'] == 'H2'])

   Well     Sera ID              Type Dilution
85   H2  MAb-biotin  control/standard   300 nM